*,
html {
    margin: 0;
    padding: 0;
}

.container {}

.navbar {
    background-color: #555;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    background-color: #555;
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 20px
}

.li-navbar:hover {
    background-color: tomato;
    transition: .3s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-navbar {
    color: rgb(139, 229, 119);
    text-decoration: none;
}

.content {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}



.a-content {
    background-color: #656;
    color: rgb(85, 51, 51);
    font-size: 30px;
    width: 720px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: -46px 59px 33px -9px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: -46px 59px 33px -9px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: -46px 59px 33px -9px rgba(0, 0, 0, 0.69);
}

.img-content {
    width: 30%;
    height: 30%;
}


.footer {
    background-color: rgba(0, 0, 0, 0.413);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-h1 {
    font-size: 50px;
    color: white;
}